.btn.btn-just-icon.btn-round.ux-card-btn-float {
  position: absolute;
  bottom: -30px;
}

// dish
.ux-dish-img {
  img {
    width: 60px;
  }
}

// dish-details
.ux-dish-details-img {
  padding: 10px;
  border: solid 1px #ddd;
  img {
    width: 100%;
  }
}